<head>
	<!-- THIS GIVES THE BROWSER INSTRUCTIONS ON HOW TO CONTROL THE PAGE'S DIMENSIONS & SCALING -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
</head>
<div id="register">
	<%= render "partials/register" %> 
</div>
	
<div id="login">
	<%= render "partials/login" %> 
</div>